
{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="container">
        <table class="table">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transaction Type</th>
                <th>Date of Transaction</th>
            </tr>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction['symbol'].upper() }}</td>
                    <td>{{ transaction['shares'] }}</td>
                    <td>{{ transaction['price']|usd }}</td>
                    <td>{{ transaction['transaction_type'] }}</td>
                    <td>{{ transaction['transacted'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}